
.footer_wrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.footer{
    white-space: nowrap;
    background-color: #33353b;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

.footer-navbar{
    overflow: hidden;
    margin: 0 24px;
    font-size: 13px;
    letter-spacing: .5px;
    text-align: left;
    color: #b4b9c2;
    display: flex;
    width: 100%;
}
/* 
.Footer > li:first-child {
    font-weight: 700;
}
*/

li  {
    display: inline-block;
    margin: auto 10px;
    vertical-align: middle;
    
} 
a {
    text-decoration: none;
    color: #fff;
}

.Footer-app {
    padding: 0 47px;
    font-size: 13px;
    background-color: #474a51;
    display: flex;
    min-width: 170px;
    font-weight: 700;
}

.Dropdown-title {
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: right;
    color: #babec4;
    cursor: pointer;
}